/* Light theme */
#myBody {
    background-color: #fff;
}

#switchButton {
    color: #fff;
    font-size: 26px;
}

#switchButton .fa-sun {
    display: none;
}

#switchButton .fa-moon {
    display: block;
}

/* Dark Theme*/
.dark#myBody {
    background-color: #232220;
}

.dark #switchButton {
    color: #fff;
    font-size: 26px;
}

.dark #switchButton .fa-sun {
    display: block;
    color: #fff;
}

.dark #switchButton .fa-moon {
    display: none;
}


/* dark theme common used */
.dark h3 {
    color: #fff;
}

/* dark theme input search */
.dark .search_input {
    background-color: #232220;
    color: #fff;
}

.dark .search__icon {
    color: #fff;
}

/* dark theme categories */
.dark .categories {
    background-color: #282828;
}

/* dark theme feature */
.dark .feature__box_wrap {
    border: 1px solid rgba(255, 255, 255, 0.1);
}

.dark .feature__item_content span {
    background-color: #282828;
}

/* dark theme number count */
.dark .item_content {
    background-color: #282828;
}

.dark .item_content h2,
.dark .item_content p {
    color: #fff;
}

/* dark theme blog */
.dark .blog {
    background-color: #282828;
}

.dark .blog_title h2,
.dark .blog_mid a,
.dark .blog_mid p {
    color: #fff;
}

.dark .blog_items,
.dark .blog_mid,
.dark .blog_bottom {
    background-color: #282828;
}

/* dark theme testimonial */
.dark .carousel-item p,
.dark .carousel-item .quote q,
.dark .carousel-item .overview b {
    color: #fff;
}

/* dark theme footer */
.dark .footer_items .footer_icon a,
.dark .footer_items input {
    background-color: #282828;
}