* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Quicksand", sans-serif;
}

/* Header + slider */
.slider {
  background-image: linear-gradient(to right, #ff6600, hsl(30deg 100% 1% / 20%)),
    url(../images/banner1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: initial;
  min-height: 700px;
  width: 100%;
}

.banner {
  display: grid;
  grid-template-columns: 4fr 1fr;
  gap: 20px;
  padding: 40px 0 20px 0;
}

.nav_content_right h1 a {
  color: #fff;
  font-size: 36px;
  font-weight: 700;
  text-decoration: none;
}

.nav_content_left {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  align-items: center;
}

.search_bar {
  position: relative;
}

.search_input {
  display: flex;
  flex: 1;
  padding: 10px 50px 10px 20px;
  height: 45px;
  right: 0;
  font-size: 16px;
  font-weight: 400;
  color: rgba(22, 28, 45, 0.7);
  border-radius: 6px;
  border: none;
  background-color: #fff;
  outline: none;
}

.search_bar span {
  position: absolute;
  right: 20px;
  font-size: 15px;
  top: 15px;
  cursor: pointer;
}

.toggle_dark_mode i {
  color: #fff;
  font-size: 26px;
}

#btn_open {
  outline: none;
  border: none;
  background: none;
  text-align: center;
  color: #fbfdfb;
  font-size: 1.95em;
  padding: 0 8px;
}

/* modal nav */
#nav_modal {
  position: fixed;
  display: none;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgb(6 3 0 / 77%);
  z-index: 3;
  text-align: center;
  animation-duration: 0.5s;
}

#nav_modal.open {
  display: flex;
}

#nav_modal .nav_close {
  position: absolute;
  top: 40px;
  right: 40px;
  line-height: 40px;
  height: 40px;
  width: 40px;
  text-align: center;
  color: #fff;
  background-color: #ff6600;
  border: none;
  border-radius: 6px;
  font-size: 20px;
}

#nav_modal nav ul {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  list-style: none;
}

#nav_modal nav li a {
  text-decoration: none;
  margin-top: 20px;
  font-size: 20px;
  font-weight: 600;
  display: block;
  color: #fff;
  transition: all 0.2s;
}

#nav_modal nav li a:hover {
  color: #ff6600;
}

/* slider Content */
.slider_content {
  text-align: left;
  margin-top: 100px;
  color: #fff;
  max-width: 600px;
}

.slider_content h1 {
  font-size: 54px;
  line-height: 64px;
  font-weight: 600;
  text-transform: capitalize;
  font-family: "Quicksand", sans-serif;
}

.slider_content p {
  margin-top: 30px;
  font-size: 16px;
  line-height: 28px;
}

.slider_content a {
  border: 2px solid #fff;
  text-decoration: none;
  color: #fff;
  padding: 12px 45px;
  font-size: 16px;
  line-height: 30px;
  font-weight: 700;
  transition: 0.3s ease-in;
}

.slider_content .btn:hover {
  background-color: #fff;
  color: #ff6600;
}

/* About Us */
.about_content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.about_left,
.about_right {
  width: 50%;
  text-align: left;
}

.about_left h6 {
  color: #ff6600;
  font-family: "Pacifico", cursive;
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 1px;
  display: block;
}

.about_left h3 {
  font-size: 38px;
  line-height: 48px;
  font-weight: 600;
}

.about_right p {
  font-size: 18px;
  line-height: 28px;
  color: #8a8a8a;
  font-family: "Quicksand", sans-serif;
}

/* booking */
.booking_content {
  display: flex;
  align-items: center;
  background-color: #ff6600;
}

.booking_img {
  background-image: url(../images/banner3.jpg);
  background-size: cover;
  background-position: center;
  position: relative;
  background-repeat: no-repeat;
  min-height: 610px;
  z-index: 1;
}

.booking_img::before {
  content: "";
  background: rgba(16, 15, 19, 0.46);
  position: absolute;
  top: 0;
  min-height: 100%;
  left: 0;
  right: 0;
  z-index: -1;
}

.booking_right_content h6 {
  color: #fff;
  font-family: "Pacifico", cursive;
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 1px;
  display: block;
}

.booking_right_content h3 {
  font-size: 38px;
  line-height: 48px;
  font-weight: 600;
}

.booking_right_content p {
  font-size: 18px;
  line-height: 28px;
  color: #ffdfc9;
  font-family: "Quicksand", sans-serif;
}

.booking_list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
}

.booking_item span {
  width: 70px;
  height: 70px;
  line-height: 70px;
  font-size: 25px;
  text-align: center;
  color: #ff6600;
  background-color: #fff;
  border-radius: 6px;
  transition: all 0.5s;
}

.booking_item span:hover {
  color: #ffc600;
}

.booking_item a {
  text-decoration: none;
  color: #000;
  font-weight: 700;
  line-height: 1.2;
  margin-bottom: 15px;
  font-size: 20px;
  display: block;
}

/* Categories */
.categories {
  background-color: #f7f7f7;
}

.cate_title {
  text-align: center;
}

.cate_title h6 {
  color: #ff6600;
  font-family: "Pacifico", cursive !important;
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 1px;
  display: block;
}

.cate_title h3 {
  font-size: 38px;
  line-height: 48px;
  font-weight: 600;
}

.cate_list {
  display: flex;
  flex-wrap: wrap;
}

.cate_item img {
  display: block;
  width: 100%;
  height: auto;
  margin: 0 auto;
  border-radius: 6px;
  text-align: center;
}

.cate_img {
  position: relative;
}

.cate_img:hover {
  opacity: 0.85;
  transition: all 0.4s;
}

.cate_text {
  position: absolute;
  left: auto;
  bottom: 0px;
  width: 95%;
  padding: 0 10px;
  transform: translate3d(0, 10%, 0);
}

.cate_img::after {
  content: " ";
  position: absolute;
  background: linear-gradient(to bottom,
      rgba(0, 0, 0, 0) 0,
      rgba(0, 0, 0, 0.53) 69%,
      rgba(0, 0, 0, 0.76) 100%);
  width: 100%;
  height: 40%;
  left: 0;
  bottom: 0;
  border-radius: 6px;
}

.cate_text h4 {
  font-size: 22px;
  line-height: 30px;
  color: #fff;
  font-weight: 700;
  cursor: pointer;
}

.cate_text h6 span {
  display: inline-block;
  font-size: 18px;
  line-height: 25px;
  color: #ffc600;
}

/* start feature */
.feature__item_content span {
  width: 65px;
  height: 65px;
  font-size: 25px;
  margin-left: 20px;
  margin-right: 20px;
  color: #ff6600;
  background-color: #f8f9fa;
  border-radius: 5px;
  transition: 0.5s;
  text-align: center;
  padding-top: 20px;
}

.feature__item_content h3 {
  transform: translateY(-10px);
  transition: 0.3s;
  cursor: pointer;
}

.feature__item {
  padding: 15px;
}

.feature__box_wrap {
  box-shadow: 0 25px 98px 0 rgb(0 0 0 / 3%);
  border: 1px solid #eee;
  padding: 40px 15px;
  border-radius: 10px;
  transition: 0.5s;
}

.feature__box_wrap p:last-child {
  margin-left: 20px;
}

.feature__item_content {
  display: flex;
}

.feature__box_wrap:hover {
  box-shadow: 0 25px 98px 0 rgb(0 0 0 / 10%);
}

.feature__box_wrap:hover .feature__item_content span {
  background-color: #ff6600;
  color: white;
}

.feature__item_title h3:hover {
  color: #ff6600;
}

.feature__item_title p {
  font-size: 18px;
}

.feature__box_wrap p {
  font-size: 18px;
  font-weight: 300;
}

/* end feature */

/* start contact_us */
.contact_us {
  background-image: url(../video_image/banner2.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 450px;
  text-align: center;
  margin-top: 50px;
  position: relative;
  overflow: hidden;
}

.contact_us::after {
  content: "";
  display: block;
  background: rgb(16 15 19 / 66%);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.contact_us .button1 {
  border: 2px solid white;
  padding: 15px 35px;
  border-radius: 5px;
  transition: 0.5s;
  font-size: 18px;
  background-color: transparent;
  color: white;
}

.contact_us .button1:hover {
  color: #ff6600;
  background: white;
}

.contact_us .button2 {
  background-color: #ff6600;
  border: none;
  padding: 17px 39px;
  border-radius: 5px;
  color: white;
  transition: 0.5s;
  font-size: 18px;
}

.contact_us_content {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 10;
}

.contact_us_content .button2:hover {
  opacity: 0.8;
}

.contact_us_content h2 {
  padding: 0 120px;
  color: white;
  font-size: 45px;
  width: 100%;
  text-align: center;
  margin-bottom: 50px;
  margin-top: 100px;
  font-family: "Quicksand", sans-serif;
}

.contact_us .row {
  justify-content: center;
}

/* end contact_us */

/* start number */
.number_count {
  transform: translateY(-30px);
  height: max-content;
}

.item_content i {
  width: 65px;
  height: 65px;
  text-align: center;
  background: #ff6600;
  font-size: 25px;
  padding-top: 20px;
  margin-bottom: 20px;
}

.item_content {
  box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
  text-align: center;
  background-color: white;
  border-radius: 10px;
  padding: 30px 0;
  transition: 0.5s;
}

.number_count .item {
  margin-right: 0 20px;
  height: max-content;
}

.item_content h2 {
  font-size: 40px;
}

.item_content:hover {
  transform: translateY(-0.25rem);
  box-shadow: rgb(46 41 51 / 8%) 0px 2px 4px, rgb(71 63 79 / 16%) 0px 5px 10px;
}

/* end number */

/* start food video */
.food_video__content {
  width: 100%;
  height: 500px;
  background-image: url(../video_image/banner3.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  border-radius: 5px;
  overflow: hidden;
}

.food_video__content::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgb(16 15 19 / 60%);
}

.food_video__content .fa-play {
  background-color: white;
  position: absolute;
  top: 40%;
  left: 45%;
  z-index: 10;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  text-align: center;
  padding-top: 25px;
  font-size: 30px;
  color: #ff6600;
  animation: ripple;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}

.modal-content button {
  text-align: right;
  font-size: 40px;
  opacity: 1;
}

.modal-content {
  background: none;
  border: none;
}

.embed-responsive {
  border-radius: 20px;
  overflow: hidden;
}

/* end food video */

@keyframes ripple {
  0% {
    box-shadow: 0 0 0 0rem rgba(255, 255, 255, 0.2),
      0 0 0 0.5rem rgba(255, 255, 255, 0.2), 0 0 0 1rem rgba(255, 255, 255, 0.2),
      0 0 0 1.5rem rgba(255, 255, 255, 0.2);
  }

  100% {
    box-shadow: 0 0 0 0.5rem rgba(255, 255, 255, 0.2),
      0 0 0 1rem rgba(255, 255, 255, 0.2), 0 0 0 1.5rem rgba(255, 255, 255, 0.2),
      0 0 0 2.5rem rgba(255, 255, 255, 0);
  }
}

/* Start Blog */
.blog {
  text-align: center;
  background-color: #f7f7f7;
  background-size: cover;
}

.blog_container {
  width: 70%;
  margin: auto;
}

.blog_items {
  display: flex;
  flex-direction: column;
  min-width: 0;
  background-color: #fff;
  border-radius: 6px;
  margin-bottom: 50px;
}

.blog_content {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

.blog_title p {
  font-family: "Pacifico", cursive;
  font-size: 22px;
  color: #ff6600;
  font-weight: 400;
}

.blog_title h2 {
  font-size: 38px;
  font-weight: 600;
}

.blog_top img {
  width: 100%;
  border-radius: 8px;
}

.blog_details a {
  background-color: #ff6600;
  color: #fff;
  padding: 3px 20px;
  border-radius: 35px;
  font-weight: 700;
  font-size: 12px;
  margin-bottom: 5px;
  display: inline-block;
  text-decoration: none;
}

.blog_details .details1 {
  opacity: 1;
  color: #fff;
  margin-left: 10px;
  font-size: 15px;
}

.blog_top span {
  color: #fff;
  font-weight: 300;
}

.blog_top {
  position: relative;
}

.blog_items .blog_bottom img {
  width: 40px;
  height: 40px;
  overflow: hidden;
  border-radius: 50%;
}

.blog_mid {
  text-align: left;
  background-color: #f7f7f7;
}

.blog_mid .mid1 {
  display: block;
  font-size: 24px;
  line-height: 34px;
  font-weight: 600;
  color: #232121;
  margin-top: 25px;
  margin-bottom: 15px;
  text-decoration: none;
  cursor: pointer;
}

.blog_mid p {
  font-size: 18px;
  line-height: 28px;
  color: rgba(22, 28, 45, 0.7);
  font-family: "Quicksand", sans-serif;
}

.blog_bottom1 a {
  font-weight: 700;
  color: #232121;
  text-decoration: none;
}

.blog_bottom .bottom2 {
  font-size: 16px;
  font-weight: 700;
  opacity: 0.9;
  color: #232121;
  text-decoration: none;
  transition: 0.3s;
}

.blog_bottom .bottom2:hover {
  color: #ff6600;
}

.bottom2 .fa {
  display: inline-block;
}

.blog_bottom1 {
  display: grid;
  align-items: center;
  grid-auto-flow: column;
  grid-gap: 10px;
  justify-content: flex-start;
}

.blog_bottom {
  display: grid;
  grid-auto-flow: column;
  justify-content: space-between;
  align-items: center;
}

.blog_details {
  position: absolute;
  bottom: 10px;
  left: 10px;
}

/* End Blog */

/* Start Testimonial */
.testimonial {
  text-align: center;
  margin-top: 50px;
}

.testimonial_container {
  width: 70%;
  margin: auto;
}

.testimonial_title p {
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  color: #ff6600;
  font-family: "Pacifico", cursive;
}

.testimonial_title h3 {
  font-size: 35px;
}

.testimonial1 {
  font-size: 18px;
  line-height: 28px;
  color: rgba(22, 28, 45, 0.7);
  padding: 0px 18%;
  font-family: "Quicksand", sans-serif;
}

.carousel .item {
  color: #999;
  font-size: 14px;
  text-align: center;
  overflow: hidden;
  min-height: 340px;
}

.carousel .item a {
  color: #eb7245;
}

.carousel .img-box {
  width: 145px;
  margin: 30px auto;
  border-radius: 50%;
}

.carousel .img-box img {
  width: 85px;
  height: 85px;
  border-radius: 50%;
  cursor: pointer;
}

.carousel .overview {
  text-align: center;
  padding-bottom: 5px;
}

.carousel .overview b {
  color: #232121;
  font-size: 20px;
  display: block;
  padding-bottom: 5px;
  font-weight: 600;
}

.carousel .overview {
  font-size: 18px;
  opacity: 0.8;
  font-style: normal;
  font-weight: 300;
}

.carousel .star-rating i {
  font-size: 18px;
  color: #ffdc12;
}

.carousel .carousel-indicators {
  bottom: -25px;
}

.carousel-indicators li,
.carousel-indicators li.active {
  width: 10px;
  height: 10px;
  margin: 1px 5px;
  border-radius: 50%;
}

.carousel-indicators li {
  background: #888;
  border-color: transparent;
  border: none;
  opacity: 2;
}

.carousel-indicators li.active {
  background: #ff6600;
}

.carousel-item .items1 {
  text-decoration: none;
  color: #ff6600;
}

.carousel-item .items1:hover {
  color: #5431ac;
}

.quote q {
  font-size: 24px;
  line-height: 36px;
  color: #232121;
  font-weight: 600;
  font-style: italic;
}

.quote q::before {
  font-size: 50px;
  color: #ff6600;
  display: block;
  font-family: initial;
}

/* End Testimonial */
/* Start Footer */
footer {
  margin-top: 50px;
  background: #000;
}

.footer_continer {
  width: 70%;
  margin: auto;
  padding-top: 50px;
}

.footer_content {
  display: flex;
  margin-right: -15px;
  margin-left: -15px;
}

.footer_items .footer_text h2 a {
  font-size: 30px;
  font-weight: 600;
  color: #fff;
  transition: 0.3s;
}

.footer_items .footer_text h2 a:hover {
  color: #ff6600;
}

.footer_text h2 {
  font-size: 30px;
  font-weight: 600;
  color: #fff;
}

.footer_items {
  width: 25%;
}

.footer_items .footer_icon a {
  margin-right: 10px;
  color: #ff6600;
  display: inline-block;
  text-align: center;
  font-size: 16px;
  background: #fff;
  width: 36px;
  height: 36px;
  line-height: 36px;
  border-radius: 6px;
  transition: 0.3s;
}

.footer_items .footer_icon a:hover {
  background-color: #ff6600;
  color: #fff;
}

.footer_items1 {
  font-size: 22px;
  line-height: 28px;
  margin-bottom: 30px;
  font-weight: 700;
  position: relative;
  color: #fff;
}

.footer_items ul {
  list-style: none;
}

.footer_items li {
  line-height: 2.5;
}

.footer_items a {
  text-decoration: none;
  font-size: 17px;
  line-height: 26px;
  color: #a5a2a1;
}

.footer_items a:hover {
  color: #ff6600;
}

.footer_items p {
  font-size: 17px;
  line-height: 26px;
  color: #a5a2a1;
}

.footer_items form {
  margin-top: 25px;
  position: relative;
}

.footer_items input {
  padding: 14px 20px;
  font-size: 18px;
  line-height: 28px;
  border: 1px solid transparent;
  outline: none;
  width: 100%;
  color: rgba(22, 28, 45, 0.7);
  background: #fff;
  border-radius: 6px;
  margin-bottom: 10px;
}

footer .btn {
  padding: 12px 45px;
  font-size: 16px;
  line-height: 30px;
  font-weight: 700;
  transition: 0.3s ease-in;
  border-radius: 6px;
  border: 2px solid transparent;
  width: 100%;
  margin-bottom: 35px;
}

footer .btn:hover {
  color: #212529;
  text-decoration: none;
}

footer .btn-primary {
  color: #fff;
  background-color: #ff6600;
  border: 2px solid #ff6600;
}

footer .btn-primary:hover {
  color: #fff;
  background-color: #ff6600;
  border: 2px solid #ff6600;
  opacity: 0.8;
}

/* End Footer */
/* Start Copyright */
.w3l-copyright {
  padding: 1.2em 0;
  background: #000;
  border-top: 1px solid rgb(255 255 255 / 5%);
}

.copyright_container {
  width: 70%;
  margin: auto;
  display: flex;
}

.copyright_text {
  width: 70%;
}

.copyright_text1 {
  width: 30%;
}

.copyright_text p {
  color: #ddd;
  font-size: 17px;
}

.copyright_text a {
  text-decoration: none;
  color: #ff6600;
}

.copyright_text a:hover {
  color: #fff;
}

.copyright .copyright_container .copyright_text1 ul {
  display: flex;
  list-style: none;
  justify-content: space-around;
}

.copyright_text1 a {
  text-decoration: none;
  font-size: 16px;
  line-height: 26px;
  color: #a5a2a1;
  transition: 0.3s;
}

.copyright_text1 a:hover {
  color: #ff6600;
}

.cd-top--is-visible {
  visibility: visible;
  opacity: 1;
}

.cd-top--fade-out {
  opacity: 0.5;
}

.backToTop {
  width: 50px;
  height: 50px;
  background: #ff6600;
  border-radius: 50px;
  line-height: 50px;
  text-align: center;
  display: block;
  position: fixed;
  right: 15px;
  bottom: 15px;
  color: #fff;
  transition: all 0.2s;
  box-shadow: -4px 4px 24px -10px #ff6600;
  opacity: 1;
}

.backToTop:hover {
  color: #fff;
}

.d-flex {
  list-style: none;
}

.arrow {
  color: #fff;
  background-color: #ff6600;
}

/* End Copyright */