/* Small devices (landscape phones, 576px and up) */
@media (max-width: 767.9px) {

  /* slider */
  .slider {
    min-height: 450px;
  }

  .nav_content_left .search_bar {
    display: none;
  }

  .slider_content {
    max-width: 500px;
    margin-top: 30px;
    text-align: left;
  }

  .slider_content h1 {
    font-size: 28px;
    line-height: 38px;
  }

  .slider_content p {
    margin-bottom: 0;
  }

  .slider_content a {
    padding: 10px 21px;
  }

  /* about us */
  .about_content {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  .about_left,
  .about_right {
    padding: 0 15px;
    width: 100%;
  }

  .about_left h3 {
    font-size: 26px !important;
    line-height: 36px;
  }

  .about_right p {
    font-size: 16px;
    line-height: 26px;
  }

  /* booking */
  .booking_img {
    min-height: 200px;
  }

  .booking_right_content h3 {
    font-size: 26px !important;
    line-height: 36px;
  }

  .booking_content p {
    font-size: 16px;
    line-height: 26px;
  }

  /* categories */
  .cate_title h3 {
    font-size: 26px !important;
    line-height: 36px;
  }

  .cate_item .cate_text h4 {
    font-size: 18px;
    line-height: 28px;
  }

  .cate_item .cate_text h6 span {
    font-size: 16px;
  }

  /* start contact_us */
  .contact_us {
    height: 300px;
  }

  .contact_us_content h2 {
    padding: 0 0;
    color: white;
    font-size: 25px;
    width: 100%;
    margin: 0 auto;
    text-align: center;
    /* margin-bottom: 20px; */
    margin-top: 80px;
  }

  .contact_us .button1,
  .contact_us .button2 {
    padding: 12px 25px;
    font-size: 16px;
    line-height: 30px;
    font-weight: 700;
  }

  /* end contact_us */

  /* start number */
  .number_count .item_content {
    height: 250px;
  }

  /* end number */
  /* Testimonial */
  .testimonial_container {
    width: 100%;
    margin: auto;
  }

  .testimonial1 {
    padding: 0px 2%;
  }

  /* Footer */
  .footer_continer {
    width: 100%;
    padding-top: 50px;
  }

  .footer_items {
    width: 100%;
  }

  .footer_items ul {
    list-style: none;
    padding: 0px;
  }

  .footer_icon {
    text-align: center;
  }

  /* Copyright */
  .copyright_container {
    width: 100%;
    margin: auto;
    display: block;
  }

  .copyright_text {
    width: 100%;
    text-align: center;
    margin: 0px 10px;
  }

  .copyright_text1 {
    width: 80%;
  }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.9px) {
  .slider {
    min-height: 600px;
  }

  .slider_content h1 {
    font-size: 40px;
    line-height: 50px;
  }

  /* about us */
  .about_content {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  .about_left,
  .about_right {
    padding: 0 15px;
    width: 100%;
  }

  .about_left h3 {
    font-size: 32px !important;
    line-height: 40px;
  }

  /* booking */
  .booking_img {
    min-height: 200px;
  }

  .booking_right_content h3 {
    font-size: 32px !important;
    line-height: 40px;
  }

  /* categories */
  .cate_title h3 {
    font-size: 32px !important;
    line-height: 40px;
  }

  /* Testimonial */
  .testimonial_container {
    width: 100%;
    margin: auto;
  }

  .testimonial1 {
    padding: 0px 5%;
  }

  /* Footer */
  .footer_items p {
    padding-right: 20px;
  }

  .footer_icon {
    text-align: center;
  }

  .footer_items ul {
    list-style: none;
    padding-left: 1px;
  }

  .footer_items1 {
    font-size: 22px;
    line-height: 28px;
    margin-bottom: 5px;
    font-weight: 700;
    position: relative;
    color: #fff;
  }

  /* Copyright */
  .copyright_container {
    display: block;
  }

  .copyright_text {
    width: 100%;
    text-align: center;
  }

  .copyright_text1 {
    width: 100%;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {}